.eco_bonus_admin_table{
	width: 40%;
}
.eco_bonus_admin_table input{
	width: 320px;
}   
.eco_thead_class{
	
}
.eco_tbody_class{
  
}
.eco_submit_class{
	display: block;
    background: #ccc;
    width: 200px;
    text-align: center;
    line-height: 3;
    margin: 10px;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    float: right;
}
.eco_submit_class:hover{
    color: #008000 !important;
}

.eco_table_cart{
	background-color: #fdfdfd;
	font-family: "Source Sans Pro",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color: #43454b;
	width: 100%;
	font-weight: 700;
	line-height: 2.5;
	padding-left: 20px;
}
.eco_it_cart{
	background-color: #f8f8f8;
	width: 50%;
	float: right;
	line-height: 2.5;
	padding-left: 25px;
}
.type_submit_class{
	display: block;
    background: #ccc;
    width: 200px;
    text-align: center;
    line-height: 3;
    margin: 10px;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.type_submit_class:hover{
    color: #008000 !important;
}
.inp_width{
	width: 90%;
}
#content_nomer_type{
	display: none;
}
#content_nomer_type2{
	display: none;
}
.type_razm_sub1{
	display: block;
    background: #ccc;
    width: 200px;
    text-align: center;
    line-height: 3;
    margin: 10px;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
a.type_razm_sub1:hover{
	color: green;
}